<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title> Registration Successful | HOH</title>
		<link rel="stylesheet" type="text/css" href="/static/assets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/cs-skin-boxes.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
	</head>
	<body style="background-color:#2ecc71">
		
			<div class="container" style="padding-top: 5%;">
				
					<h1 style="font-size:180%; color:#fff;">Registration Successful</h1>
				<div class="container 25%">
					<ul>
						<li class="image fit" ><img src="/static/images/success-tick.png"></li>
						<li style="padding-left: 15%; padding-top: 20%; font-size: 120%	"><p>Go to <a href="http://stockroom.io">Stockroom</a></p></li>
					</ul>
					<div class="container 25%">
				</div>
			</div>		
		</body>
</html>
	